::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 6px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
main {
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.circle1 {
  background: white;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 10rem;
}
.circle2 {
  background: white;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
  height: 15rem;
  width: 15rem;
  position: absolute;
  border-radius: 10rem;
}
.circle1 {
  top: 5%;
  right: 15%;
}
.circle2 {
  bottom: 5%;
  left: 10%;
}
/* FULL PAGE */
.container {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
